In [24]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

        
def select_query(conn,query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
        
        query10 = """
        SELECT f.name, SUM(
        CASE WHEN b.memid = 0 THEN f.guestcost 
        WHEN b.memid != 0 THEN f.membercost
        END) AS Revenue
        FROM Bookings b LEFT JOIN 
        Facilities f
        ON  b.facid = f.facid
        GROUP BY f.name
        HAVING SUM(
        CASE WHEN b.memid = 0 THEN f.guestcost 
        WHEN b.memid != 0 THEN f.membercost
        END) > 1000
        ORDER BY Revenue DESC
        """
        
        
        query11 = """
       SELECT m1.surname AS member_surname,
       m1.firstname AS member_firstname,
       m2.firstname || ' ' || m2.surname AS recommended_by
       FROM Members m1
       LEFT JOIN Members m2 ON m1.recommendedby = m2.memid
       ORDER BY m1.surname, m1.firstname
        """
        query12 = """
        SELECT  f.facid,f.name,SUM(b.slots) As TotalSlotsUsage
        FROM Bookings b
        LEFT JOIN Facilities f
        ON b.facid = f.facid
        WHERE b.memid > 0
        GROUP BY f.facid,f.name;
        """
        
        query13 = """
        SELECT  f.facid,f.name,
        strftime('%m', b.starttime) AS Month,
        SUM(b.slots) As TotalSlotsUsage
        FROM Bookings b
        LEFT JOIN Facilities f
        ON b.facid = f.facid
        WHERE b.memid > 0
        GROUP BY f.facid,f.name,strftime('%m', b.starttime);
        """
        
        print("ANS 10:")
        select_query(conn,query10)
        
        print("ANS 11:")
        select_query(conn,query11)
 
        print("ANS 12:")
        select_query(conn,query12)
        
        print("ANS 13:")
        select_query(conn,query13)
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)
ANS 10:
('Massage Room 1', 20807.900000000045)
('Massage Room 2', 6987.299999999997)
('Squash Court', 4970.0)
('Tennis Court 2', 4205)
('Tennis Court 1', 4040)
ANS 11:
('Bader', 'Florence', 'Ponder Stibbons')
('Baker', 'Anne', 'Ponder Stibbons')
('Baker', 'Timothy', 'Jemima Farrell')
('Boothe', 'Tim', 'Tim Rownam')
('Butters', 'Gerald', 'Darren Smith')
('Coplin', 'Joan', 'Timothy Baker')
('Crumpet', 'Erica', 'Tracy Smith')
('Dare', 'Nancy', 'Janice Joplette')
('Farrell', 'David', None)
('Farrell', 'Jemima', None)
('GUEST', 'GUEST', None)
('Genting', 'Matthew', 'Gerald Butters')
('Hunt', 'John', 'Millicent Purview')
('Jones', 'David', 'Janice Joplette')
('Jones', 'Douglas', 'David Jones')
('Joplette', 'Janice', 'Darren Smith')
('Mackenzie', 'Anna', 'Darren Smith')
('Owen', 'Charles', 'Darren Smith')
('Pinker', 'David', 'Jemima Farrell')
('Purview', 'Millicent', 'Tracy Smith')
('Rownam', 'Tim', None)
('Rumney', 'Henrietta', 'Matthew Genting')
('Sarwin', 'Ramnaresh', 'Florence Bader')
('Smith', 'Darren', None)
('Smith', 'Darren', None)
('Smith', 'Jack', 'Darren Smith')
('Smith', 'Tracy', None)
('Stibbons', 'Ponder', 'Burton Tracy')
('Tracy', 'Burton', None)
('Tupperware', 'Hyacinth', None)
('Worthington-Smyth', 'Henry', 'Tracy Smith')
ANS 12:
(0, 'Tennis Court 1', 957)
(1, 'Tennis Court 2', 882)
(2, 'Badminton Court', 1086)
(3, 'Table Tennis', 794)
(4, 'Massage Room 1', 884)
(5, 'Massage Room 2', 54)
(6, 'Squash Court', 418)
(7, 'Snooker Table', 860)
(8, 'Pool Table', 856)
ANS 13:
(0, 'Tennis Court 1', '07', 201)
(0, 'Tennis Court 1', '08', 339)
(0, 'Tennis Court 1', '09', 417)
(1, 'Tennis Court 2', '07', 123)
(1, 'Tennis Court 2', '08', 345)
(1, 'Tennis Court 2', '09', 414)
(2, 'Badminton Court', '07', 165)
(2, 'Badminton Court', '08', 414)
(2, 'Badminton Court', '09', 507)
(3, 'Table Tennis', '07', 98)
(3, 'Table Tennis', '08', 296)
(3, 'Table Tennis', '09', 400)
(4, 'Massage Room 1', '07', 166)
(4, 'Massage Room 1', '08', 316)
(4, 'Massage Room 1', '09', 402)
(5, 'Massage Room 2', '07', 8)
(5, 'Massage Room 2', '08', 18)
(5, 'Massage Room 2', '09', 28)
(6, 'Squash Court', '07', 50)
(6, 'Squash Court', '08', 184)
(6, 'Squash Court', '09', 184)
(7, 'Snooker Table', '07', 140)
(7, 'Snooker Table', '08', 316)
(7, 'Snooker Table', '09', 404)
(8, 'Pool Table', '07', 110)
(8, 'Pool Table', '08', 303)
(8, 'Pool Table', '09', 443)